.control {
    margin-bottom: 0.6rem;
  }
  
  .control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
  }
  
  .control input,
  .control textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1rem;
  }
  
  .control input:focus,
  .control textarea:focus {
    background-color: #cbf8f8;
    outline-color: teal;
  }

  .message {
    font-size: 1.1rem;
    margin: auto 1rem auto 0rem;
    font-weight: bold;
  }

  .success {
    color: rgb(3, 128, 86);
    font-weight: bold;
  }
  
  .invalid {
    color: rgb(243, 101, 101);
    font-weight: bold;
  }
  .error {
    background-color: rgb(231, 190, 190) !important;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
  }
  
  .actions button {
    font-size: 1rem;
  }
  
  .actions button:disabled {
    background-color: lightgray;
  }